:root {
  font-size: 14px;

  --primary-color-main: #90caf9;
  --primary-color-dark: #42a5f5;
  --primary-color-light: #e3f2fd;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color-light);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 20px;
  border: 0.1px solid transparent;
  background-clip: content-box;
}
