:root {
  font-size: 14px;

  --primary-color-main: #1f2937;
  --primary-color-dark: #151c26;
  --primary-color-light: #4b535f;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color-light);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 20px;
  border: 0.1px solid transparent;
  background-clip: content-box;
}
